@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotateIcon {
  0% { transform: rotate(0) }
  50% { transform: rotate(360deg) }
  100% { transform: rotate(0) }
}

body{
  background: #fff;
  color: #333;
  line-height: 1.6;
  font-size: 1em;
}

.home {
  padding-top: 10vh;
  text-align: center;
}

.saying{
  color: #999;
  margin-top: 2em;
  padding-bottom: 2em;
}

.avatar{
  display: block;
  margin: 0 auto;
  width: 5em;
}
.avatar img{
  border-radius: 50%;
}

.home h1{
  margin: 2vh 0;
  font-size: 3em;
}

.home div div{
  margin-bottom: 0.5em;
  line-height: 1.6;
}

.home a{
  display: inline-block;
  color: #333;
  text-decoration: none;
}

.links {
  margin-top: 1em;
}

.links a {
  text-decoration: underline;
}

.social a{
  font-size: 1.2em;
  margin: 1em;
}

.social a:hover{
  animation-duration: 2s;
  animation-name: rotateIcon;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.contact{
  margin: 0 auto;
  width: 9em;
  height: 2em;
  cursor: pointer;
  position: relative;
  background: #fff;
}
.contact a{
  border: 1px solid #333;
  border-radius: 0.3em;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.front{
  z-index: 1;
  background: #fff;
}
body.active .front{
  transform: rotateX(-180deg);
  backface-visibility: hidden;
  transition: 2s;
  transform-style: preserve-3d;
  -webkit-perspective: 1000;
}
.back{
  display: block;
  padding: 0;
  margin: 0;
  background: #333;
  color: #fff;
  font-family: Sans-serif;
}

.lang{
  padding-top: 2em;
}
.lang a{
  font-size: 16px;
  margin: 0 0.5em;
}
.lang a:hover{
  text-decoration: underline;
}

.top{
  margin-right: 10px;
}

.footer{
  margin-top: 10vh;
  color: #ccc;
  font-size: 0.7rem;
  text-align: center;
}
.footer a{
  color: #aaa;
}

.blog-post h2 {
  font-size: 1rem;
  padding: 0.5rem 0;
}

.blog-post h2, h3{
  font-weight: bold;
}

.blog-post table {
  box-shadow: 0 1px 2px 0 rgb(0 0 0/0.05);
}

.blog-post th,td {
  padding: 0.5rem;
  border: 1px solid #e5e7eb;
}

.blog-post th {
  background-color: rgb(229, 231, 235);
  font-weight: normal;
}

.blog-post a {
  color: #333;
}
